</div>
<div class="ui black inverted vertical footer segment">
  <div class="ui center alligned container">
    <div class="ui inverted section divider"></div>
    <div class="ui horizontal inverted small divided link list">
      <ul class="item">TBAPi</ul>
      <ul class="item">Free and open source</ul>
      <a class="item" href="https://github.com/robthr">Github <i class="github icon"></i></a>
        </div>
  </div>
</div>
<script>
  $("#expandheader").click(function() {
    $('.ui.sidebar')
      .sidebar('toggle')
    ;
  });
</script>
</body>

</html>
