<% include ./partials/header %>
    <% if(error && error.length > 0){ %>
      <div class="ui container space">
      <div class="ui error message">
        <%= error %>
      </div>
      </div>
      <% } %>
        <% if(success && success.length > 0){ %>
          <div class="ui container space">
          <div class="ui success message">
            <%= success %>
          </div>
          </div>
          <% } %>
            </div>
            <div class="ui container space">
              <div class="ui text container">
                <h1 class="ui inverted header">TBAPi</h1>
                <h2>The always-on-time alarm system.</h2>
              </div>
              </div>

            <a href="/houses" class="ui massive green button">Go to TBAPi</a>
  <% include partials/footer %>
