<% include ./partials/header %>
  <div class="ui container space">
    <% include ./partials/flash %>
      <div class="ui padded segment">
        <h1 class="ui center aligned header">Register</h1>
        <form class="ui form" action="/register" method="POST">
          <div class="required field">
            <label>Email</label>
            <input type="text" name="email" placeholder="Email" autocomplete="email" required>
          </div>
          <div class="required field">
            <label>Username</label>
            <input type="text" name="username" placeholder="Username" autocomplete="username" required>
          </div>
          <div class="required field">
            <label>Password</label>
            <input type="password" name="password" placeholder="Password" autocomplete="current-password" required>
          </div>
          <div class="required field">
            <label>Signup Code</label>
            <input type="password" name="signupCode" placeholder="Signup Code" autocomplete="off" required>
          </div>
          <button class="ui submit button" type="submit">Submit</button>
        </form>
      </div>
  </div>
  <% include ./partials/footer %>