/* Container spacing for navbar */

div.container.space {
  margin-top: 10em;
  margin-bottom: 3em;
}

/* Delete form button */

.delete {
  display: inline;
}

.optionscell {
  max-width: 220.66px;
}

/* Hide and show elements on mobile, desktop */

@media (min-width:992px) {
  .desktop-only {
    display: block !important;
  }
  .mobile-only {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .mobile-only {
    display: block !important;
  }
  .desktop-only {
    display: none !important;
  }
}