<% include ../partials/header %>
  <div class="ui container space">
<% include ../partials/flash %>
            <div class="ui padded segment">
              <h1 class="ui center aligned header">TBAPi Options</h1>
              <strong>API Key:</strong> <%= options.apikey %> <br>
              <strong>Admin Signup Key:</strong> <%= options.adminKey %> <br>
              <strong>User Signup Key:</strong> <%= options.userKey %> <br>
            </div>
  </div>
  <% include ../partials/footer %>
