<h1>New Host in <%= house.name %></h1>
<form action="/houses/<%= house._id %>/hosts" method="POST">
  <input type="text" name="host[name]" placeholder="name">
  <input type="text" name="host[hostname]" placeholder="hostname">
  <button>Submit</button>
</form>
