<% include ../partials/header %>
  <div class="ui container space">    <% if(error && error.length > 0){ %>
        <div class="ui error message">
          <%= error %>
        </div>
        <% } %>
          <% if(success && success.length > 0){ %>
            <div class="ui success message">
              <%= success %>
            </div>
            <% } %>
    <h1 class="ui center aligned header">New Host in <%= house.name %></h1>
    <form class="ui form" action="/houses/<%= house._id %>/hosts" method="POST">
      <div class="ui inline fields">
        <div class="eight wide field">
          <label>Name</label>
          <input type="text" name="host[name]" placeholder="name" required>
        </div>
        <div class="eight wide field">
          <label>Hostname</label>
          <input type="text" name="host[hostname]" placeholder="hostname" required>
        </div>
      </div>
      <button class="ui submit button" type="submit">Submit</button>
    </form>
  </div>
    <% include ../partials/footer %>
