<% include ../partials/header %>
  <div class="ui container space">
<% include ../partials/flash %>
          <div class="ui padded segment">
    <h1 class="ui center aligned header">Edit <%= house.name %></h1>
    <form class="ui form" action="/houses/<%= house._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
      <div class="field">
        <label>House Name</label>
        <input type="text" placeholder="<%= house.name %>" name="house[name]">
      </div>
      <div class="field">
      <input type="file" id="image" name="house[image]" accept="image/*" required>
      </div>
      <button class="ui submit button" type="submit">Submit</button>
    </form>
  </div>
  </div>
  <% include ../partials/footer %>
